:root {
  --primary-color: #3d1e6d;
  --light-primary-color: #8874a3;
  --dark-primary-color: #2e003e;
  --secondary-color: #ffa400;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  background: var(--primary-color);
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1px;
}

.table-header {
  color: #fff;
  position: relative;
  font-size: 1.3rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.table-header__icon {
  font-size: 1rem;
  margin-right: 10px;
}
