.team-details {
  display: flex;
  flex-wrap: wrap;
}

.team-details-info-container {
  width: 20%;
  margin-right: 20px;
}

.team-details-info__logo {
  margin-bottom: 20px;
}

.team-matches-container {
  width: 65%;
  margin-bottom: 50px;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
  table-layout: fixed;
}

.table__header {
  background-color: var(--dark-primary-color);
  color: var(--secondary-color);
}

.table__heading {
  padding: 20px;
}

.table__heading--smallest {
  width: 60px;
}

.table__heading--small {
  width: 100px;
}

.table__heading--medium {
  width: 150px;
}

.wide {
  width: 50%;
}

.table__body {
  color: #fff;
}

.table__row {
  height: 60px;
}

.table__item {
  padding: 10px 0 10px 20px;
  font-size: 0.9rem;
}

.table__item:last-child {
  padding-right: 10px;
}

.table__item__text {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table__item--small {
  font-size: 0.8rem;
}

.table__item--won {
  color: #86f700;
  font-weight: bold;
  letter-spacing: 1px;
}

.table__item--lost {
  color: #ff3902;
  font-weight: bold;
  letter-spacing: 1px;
}

.table__item__league-name {
  font-size: 0.8rem;
  color: #ccc;
  margin-top: 5px;
}

.table__link {
  color: var(--secondary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.table__row:nth-child(odd) {
  background-color: rgba(136, 116, 163, 30%);
}

.table__image {
  max-height: 45px;
  width: 35px;
  margin-right: 10px;
}

.team-players-container {
  width: calc(80% - 20px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.team-player {
  display: flex;
  flex-direction: column;
  width: calc(16% - 20px);
}

.team-player__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-player-statistics {
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
}

.team-player__info > img {
  border-radius: 50%;
  border: 3px solid var(--light-primary-color);
  box-shadow: inset 0 0 10px 1px var(--light-primary-color);
}

.team-player__name {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.team-heroes-container {
  width: calc(35% - 20px);
  margin-left: 20px;
  margin-top: 20px;
}

.table__item__body {
  display: flex;
}

.table__img-container {
  margin-right: 10px;
}

.table__img-container > img {
  min-width: 50px;
}
